2ndDeliverable/flows_node-red_expensr.json
[
    {
        "id": "323d6a127298981e",
        "type": "tab",
        "label": "getUserInfo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "68daf7e2a0a2047d",
        "type": "tab",
        "label": "postUser",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "645add46.234644",
        "type": "tab",
        "label": "userAddIssue( [Post] user/:username/issue)",
        "disabled": true,
        "info": ""
    },
    {
        "id": "34058d08.1309f2",
        "type": "tab",
        "label": "userGetIssues ([Get] /user/:username/issue)",
        "disabled": true,
        "info": ""
    },
    {
        "id": "c3b34330.c014",
        "type": "tab",
        "label": "userGetFullContentIssue [Get] /user/:username/issue/:issueID",
        "disabled": true,
        "info": ""
    },
    {
        "id": "29dea58a.ac6aaa",
        "type": "tab",
        "label": "User Updates Issue",
        "disabled": true,
        "info": ""
    },
    {
        "id": "79afea60.4db264",
        "type": "tab",
        "label": "Delete Issue",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4d1d0100.524ca",
        "type": "tab",
        "label": "Admin Update Category",
        "disabled": true,
        "info": ""
    },
    {
        "id": "fd0f986b.1c9ad8",
        "type": "tab",
        "label": "HTTP Web Page Example",
        "disabled": true,
        "info": ""
    },
    {
        "id": "7abefd83.704014",
        "type": "tab",
        "label": "HTTP Query Parameters",
        "disabled": true,
        "info": ""
    },
    {
        "id": "b01be559.76e07",
        "type": "tab",
        "label": "HTTP URL Parameters",
        "disabled": true,
        "info": ""
    },
    {
        "id": "f23ec8d3.c89a3",
        "type": "tab",
        "label": "HTTP Respone JSON 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4d1359bb.bef6a8",
        "type": "tab",
        "label": "HTTP Respone JSON 2",
        "disabled": true,
        "info": ""
    },
    {
        "id": "a712887f.cb747",
        "type": "tab",
        "label": "REST Service Call Example",
        "disabled": true,
        "info": ""
    },
    {
        "id": "182335e2.99f052",
        "type": "tab",
        "label": "MongoDB Operations",
        "disabled": true,
        "info": ""
    },
    {
        "id": "3473d672.55b542",
        "type": "tab",
        "label": "REST Service Example",
        "disabled": true,
        "info": ""
    },
    {
        "id": "676ccbb38602ee57",
        "type": "mongodb",
        "hostname": "cluster0.mybn5e2.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "retryWrites=true&w=majority",
        "port": "27017",
        "db": "ExpensrDB",
        "name": "BoboDB"
    },
    {
        "id": "65f3afbda54f8b3d",
        "type": "comment",
        "z": "323d6a127298981e",
        "name": "Service:",
        "info": "",
        "x": 580,
        "y": 60,
        "wires": []
    },
    {
        "id": "c91172b737f739fc",
        "type": "comment",
        "z": "323d6a127298981e",
        "name": "Get personal info to display in profile page.",
        "info": "",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "5726357ca66bb303",
        "type": "comment",
        "z": "323d6a127298981e",
        "name": "getUserInfo ([GET] /user/:userID)",
        "info": "",
        "x": 270,
        "y": 200,
        "wires": []
    },
    {
        "id": "1f61327a129747b2",
        "type": "http in",
        "z": "323d6a127298981e",
        "name": "[GET] /user/:userID",
        "url": "/user/:userID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 300,
        "wires": [
            [
                "be372924efb31b8f"
            ]
        ]
    },
    {
        "id": "43dd6403e5090204",
        "type": "debug",
        "z": "323d6a127298981e",
        "name": "DB response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "2f0468624e2c7679",
        "type": "inject",
        "z": "323d6a127298981e",
        "name": "GetUser",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 220,
        "y": 480,
        "wires": [
            [
                "5218f41ca1f2ad7c"
            ]
        ]
    },
    {
        "id": "5218f41ca1f2ad7c",
        "type": "http request",
        "z": "323d6a127298981e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user/648a284edf187722f4995196",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 480,
        "wires": [
            [
                "4c14fbca21510d76"
            ]
        ]
    },
    {
        "id": "4c14fbca21510d76",
        "type": "debug",
        "z": "323d6a127298981e",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 480,
        "wires": []
    },
    {
        "id": "5a3f65b8cdf47c8f",
        "type": "http response",
        "z": "323d6a127298981e",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 300,
        "wires": []
    },
    {
        "id": "5287aff7ed7f88de",
        "type": "comment",
        "z": "323d6a127298981e",
        "name": "Application:",
        "info": "",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "be372924efb31b8f",
        "type": "mongodb in",
        "z": "323d6a127298981e",
        "mongodb": "676ccbb38602ee57",
        "name": "getUser",
        "collection": "user",
        "operation": "find",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "43dd6403e5090204",
                "e3c2754587584ce3"
            ]
        ]
    },
    {
        "id": "fec22bd06e099e12",
        "type": "function",
        "z": "323d6a127298981e",
        "name": "function 1",
        "func": "msg.poayload = msg.payload[0];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            [
                "5a3f65b8cdf47c8f"
            ]
        ]
    },
    {
        "id": "e3c2754587584ce3",
        "type": "change",
        "z": "323d6a127298981e",
        "name": "ReturnUser",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "fec22bd06e099e12",
                "159c227cdfccef62"
            ]
        ]
    },
    {
        "id": "159c227cdfccef62",
        "type": "debug",
        "z": "323d6a127298981e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 400,
        "wires": []
    },
    {
        "id": "339a66f375215ed8",
        "type": "function",
        "z": "323d6a127298981e",
        "name": "function 2",
        "func": "msg.payload = msg.req.params;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "d5e1cb76de0ff3f3",
        "type": "comment",
        "z": "68daf7e2a0a2047d",
        "name": "Service:",
        "info": "",
        "x": 640,
        "y": 40,
        "wires": []
    },
    {
        "id": "ebdf78bbc44c0cfb",
        "type": "comment",
        "z": "68daf7e2a0a2047d",
        "name": "Post personal info when creating account",
        "info": "",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ed2c92e7d00a96b",
        "type": "comment",
        "z": "68daf7e2a0a2047d",
        "name": "postUserInfo ([POST] /user)",
        "info": "",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "71d956175825760f",
        "type": "http in",
        "z": "68daf7e2a0a2047d",
        "name": "[POST] /user",
        "url": "/user",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 490,
        "y": 280,
        "wires": [
            [
                "10fa3d67648d6673",
                "7a8bd6fe1954547c",
                "b2442578ab1e35de"
            ]
        ]
    },
    {
        "id": "7a8bd6fe1954547c",
        "type": "mongodb out",
        "z": "68daf7e2a0a2047d",
        "mongodb": "676ccbb38602ee57",
        "name": "postUserInfo",
        "collection": "user",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 850,
        "y": 180,
        "wires": []
    },
    {
        "id": "10fa3d67648d6673",
        "type": "debug",
        "z": "68daf7e2a0a2047d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "d88ad42038f1f6c6",
        "type": "inject",
        "z": "68daf7e2a0a2047d",
        "name": "PostUser",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\": \"admin\",   \"fullname\": \"John Doe\",   \"password\": \"password\",   \"email\": \"johnDoe@example.com\",   \"age\": 70}",
        "payloadType": "json",
        "x": 480,
        "y": 420,
        "wires": [
            [
                "1350ee5dbc21d640"
            ]
        ]
    },
    {
        "id": "1350ee5dbc21d640",
        "type": "http request",
        "z": "68daf7e2a0a2047d",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:1880/user",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 710,
        "y": 420,
        "wires": [
            [
                "72a91daf1b51b2ec"
            ]
        ]
    },
    {
        "id": "72a91daf1b51b2ec",
        "type": "debug",
        "z": "68daf7e2a0a2047d",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 420,
        "wires": []
    },
    {
        "id": "5b0446178a30653e",
        "type": "http response",
        "z": "68daf7e2a0a2047d",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 260,
        "wires": []
    },
    {
        "id": "b2442578ab1e35de",
        "type": "change",
        "z": "68daf7e2a0a2047d",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-encoding",
                "pt": "msg",
                "to": "utf8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 260,
        "wires": [
            [
                "5b0446178a30653e"
            ]
        ]
    },
    {
        "id": "30f2f1a.ab6aa0e",
        "type": "comment",
        "z": "645add46.234644",
        "name": "User Adding  a new issue.",
        "info": "",
        "x": 130,
        "y": 220,
        "wires": []
    },
    {
        "id": "90c8389a.d5ebb8",
        "type": "comment",
        "z": "645add46.234644",
        "name": "Post /user/:username/issue",
        "info": "",
        "x": 130,
        "y": 260,
        "wires": []
    },
    {
        "id": "3779bfd9.5a284",
        "type": "http in",
        "z": "645add46.234644",
        "name": "POST /user/:username/issue",
        "url": "/user/:username/issue",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "e42f6d09.b9f1a",
                "b25a8c2e.db8cd",
                "d42c7bd.1bb7288"
            ]
        ]
    },
    {
        "id": "e42f6d09.b9f1a",
        "type": "debug",
        "z": "645add46.234644",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 400,
        "wires": []
    },
    {
        "id": "d42c7bd.1bb7288",
        "type": "change",
        "z": "645add46.234644",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-encoding",
                "pt": "msg",
                "to": "utf8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 320,
        "wires": [
            [
                "a85eea82.be0a18"
            ]
        ]
    },
    {
        "id": "a85eea82.be0a18",
        "type": "http response",
        "z": "645add46.234644",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 320,
        "wires": []
    },
    {
        "id": "b25a8c2e.db8cd",
        "type": "mongodb out",
        "z": "645add46.234644",
        "mongodb": "",
        "name": "myDimosDB",
        "collection": "issues",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "79c2f4ff.a86eac",
        "type": "inject",
        "z": "645add46.234644",
        "name": "AddIssue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{ \"issueID\":\"3\", \"title\":\"Bad smell from rubbish.\", \"category\":\"Rubbish\", \"description\":\"Rubbish in the road.\", \"address\":\"Liakonos 3\", \"media\":\"encodedAUDIOVISUAL\", \"status\":\"1\", \"submitDateAndTime\":\"3-6-2020\", \"votes\":\"7\", \"userID\":\"13\" }",
        "payloadType": "json",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "b79d32cc.1b1e3"
            ]
        ]
    },
    {
        "id": "b79d32cc.1b1e3",
        "type": "http request",
        "z": "645add46.234644",
        "name": "postIssue Request",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/user/mikalaki/issue",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 620,
        "wires": [
            [
                "b5bd553a.402c98"
            ]
        ]
    },
    {
        "id": "b5bd553a.402c98",
        "type": "debug",
        "z": "645add46.234644",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 810,
        "y": 620,
        "wires": []
    },
    {
        "id": "bceea16d.6c535",
        "type": "comment",
        "z": "645add46.234644",
        "name": "Service:",
        "info": "",
        "x": 560,
        "y": 120,
        "wires": []
    },
    {
        "id": "981aea0d.6e3728",
        "type": "comment",
        "z": "645add46.234644",
        "name": "Application:",
        "info": "",
        "x": 550,
        "y": 540,
        "wires": []
    },
    {
        "id": "e74b1c8c.e58c6",
        "type": "http in",
        "z": "34058d08.1309f2",
        "name": "GET /user/:username/issue",
        "url": "/user/:username/issue",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "69e5ae17.18b9"
            ]
        ]
    },
    {
        "id": "85efccb4.48ac4",
        "type": "http response",
        "z": "34058d08.1309f2",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 220,
        "wires": []
    },
    {
        "id": "69e5ae17.18b9",
        "type": "mongodb in",
        "z": "34058d08.1309f2",
        "mongodb": "",
        "name": "",
        "collection": "issues",
        "operation": "find",
        "x": 530,
        "y": 220,
        "wires": [
            [
                "bc6d4ea1.1246e",
                "be8a47e7.90ee58"
            ]
        ]
    },
    {
        "id": "bc6d4ea1.1246e",
        "type": "debug",
        "z": "34058d08.1309f2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 360,
        "wires": []
    },
    {
        "id": "137aa18e.d0dcfe",
        "type": "function",
        "z": "34058d08.1309f2",
        "name": "CreateResponsePayload",
        "func": "response = {\n    issues: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 220,
        "wires": [
            [
                "85efccb4.48ac4"
            ]
        ]
    },
    {
        "id": "46dd75d4.4ebd6c",
        "type": "comment",
        "z": "34058d08.1309f2",
        "name": "GET /user/:username/issue",
        "info": "",
        "x": 170,
        "y": 160,
        "wires": []
    },
    {
        "id": "f222c2ac.3bcb8",
        "type": "comment",
        "z": "34058d08.1309f2",
        "name": "User views public Issues",
        "info": "",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "ede298d9.0867c8",
        "type": "comment",
        "z": "34058d08.1309f2",
        "name": "User views his own pending issues",
        "info": "",
        "x": 200,
        "y": 120,
        "wires": []
    },
    {
        "id": "b8dbe4f8.f12718",
        "type": "inject",
        "z": "34058d08.1309f2",
        "name": "GetIssues",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 320,
        "y": 560,
        "wires": [
            [
                "645aea0b.324584"
            ]
        ]
    },
    {
        "id": "645aea0b.324584",
        "type": "http request",
        "z": "34058d08.1309f2",
        "name": "userGetIssues Request",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/user/mikalaki/issue",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 560,
        "wires": [
            [
                "86f006b5.5bdc28"
            ]
        ]
    },
    {
        "id": "86f006b5.5bdc28",
        "type": "debug",
        "z": "34058d08.1309f2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 560,
        "wires": []
    },
    {
        "id": "be8a47e7.90ee58",
        "type": "change",
        "z": "34058d08.1309f2",
        "name": "ReturnIssuesByStatus",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 220,
        "wires": [
            [
                "137aa18e.d0dcfe"
            ]
        ]
    },
    {
        "id": "c5fc988d.d10878",
        "type": "comment",
        "z": "34058d08.1309f2",
        "name": "Service:",
        "info": "",
        "x": 620,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f793a03.c95536",
        "type": "comment",
        "z": "34058d08.1309f2",
        "name": "Application:",
        "info": "",
        "x": 530,
        "y": 500,
        "wires": []
    },
    {
        "id": "10da1c46.9d9f74",
        "type": "http in",
        "z": "c3b34330.c014",
        "name": "GET /user/:username/issue/:issueID",
        "url": "/user/:username/issue/:issueID",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "fc115b2b.0ca1f8"
            ]
        ]
    },
    {
        "id": "794f2a12.2970f4",
        "type": "http response",
        "z": "c3b34330.c014",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1310,
        "y": 240,
        "wires": []
    },
    {
        "id": "fc115b2b.0ca1f8",
        "type": "mongodb in",
        "z": "c3b34330.c014",
        "mongodb": "",
        "name": "",
        "collection": "issues",
        "operation": "find",
        "x": 530,
        "y": 200,
        "wires": [
            [
                "6a3a0bdf.5e36d4",
                "ea30b399.04434"
            ]
        ]
    },
    {
        "id": "6a3a0bdf.5e36d4",
        "type": "debug",
        "z": "c3b34330.c014",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 770,
        "y": 280,
        "wires": []
    },
    {
        "id": "610545ee.fbb6dc",
        "type": "function",
        "z": "c3b34330.c014",
        "name": "CreateResponsePayload",
        "func": "response = {\n    issue: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1110,
        "y": 200,
        "wires": [
            [
                "794f2a12.2970f4"
            ]
        ]
    },
    {
        "id": "501a28b6.faabd8",
        "type": "comment",
        "z": "c3b34330.c014",
        "name": "GET /user/:username/issue/:issueID",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "a43e3d2a.9e539",
        "type": "comment",
        "z": "c3b34330.c014",
        "name": "User views public Issue's full content",
        "info": "",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d49be67.a4585",
        "type": "comment",
        "z": "c3b34330.c014",
        "name": "Get the one issue the user wants to view",
        "info": "",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "45200a5e.57a924",
        "type": "inject",
        "z": "c3b34330.c014",
        "name": "GetIssue",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "29faccc2.2c52c4"
            ]
        ]
    },
    {
        "id": "29faccc2.2c52c4",
        "type": "http request",
        "z": "c3b34330.c014",
        "name": "userGetIssueRequest",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://localhost:1880/user/mikalaki/issue/3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 600,
        "y": 460,
        "wires": [
            [
                "8ffa95c6.b0cfd8"
            ]
        ]
    },
    {
        "id": "8ffa95c6.b0cfd8",
        "type": "debug",
        "z": "c3b34330.c014",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "ea30b399.04434",
        "type": "function",
        "z": "c3b34330.c014",
        "name": "ReturnIssueByID",
        "func": "var id = msg.req.params.issueID\n\n\n\n\n\nvar obj = msg.payload\n\n// the code you're looking for\nvar needle = 'AL';\n\n// iterate over each element in the array\nfor (var i = 0; i < obj.length; i++){\n  // look for the entry with a matching `code` value\n  if (obj[i]['issueID'] == id){\n     msg.payload=obj[i];\n     return msg\n  }\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 200,
        "wires": [
            [
                "610545ee.fbb6dc"
            ]
        ]
    },
    {
        "id": "a6a7587c.466078",
        "type": "comment",
        "z": "c3b34330.c014",
        "name": "Service:",
        "info": "",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "12f260a1.b9c09f",
        "type": "comment",
        "z": "c3b34330.c014",
        "name": "Application:",
        "info": "",
        "x": 590,
        "y": 400,
        "wires": []
    },
    {
        "id": "2f5981d5.ce34ee",
        "type": "comment",
        "z": "29dea58a.ac6aaa",
        "name": "User Updates Issue",
        "info": "",
        "x": 250,
        "y": 100,
        "wires": []
    },
    {
        "id": "4bc5c943.6098e8",
        "type": "comment",
        "z": "29dea58a.ac6aaa",
        "name": "Put /user/:username/issue/:issueID",
        "info": "",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "f6b55924.5b9278",
        "type": "http in",
        "z": "29dea58a.ac6aaa",
        "name": "PUT /user/:username/issue/:issueID",
        "url": "/user/:username/issue/:issueID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "60e591bb.c9d92",
                "270d2861.939ab8",
                "e103e6ee.c5c698"
            ]
        ]
    },
    {
        "id": "60e591bb.c9d92",
        "type": "debug",
        "z": "29dea58a.ac6aaa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 300,
        "wires": []
    },
    {
        "id": "e103e6ee.c5c698",
        "type": "change",
        "z": "29dea58a.ac6aaa",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-encoding",
                "pt": "msg",
                "to": "utf8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 220,
        "wires": [
            [
                "f65396ef.74ef48"
            ]
        ]
    },
    {
        "id": "f65396ef.74ef48",
        "type": "http response",
        "z": "29dea58a.ac6aaa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "270d2861.939ab8",
        "type": "mongodb out",
        "z": "29dea58a.ac6aaa",
        "mongodb": "",
        "name": "myDimosDB",
        "collection": "issues",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "2e6fcbff.33cbd4",
        "type": "inject",
        "z": "29dea58a.ac6aaa",
        "name": "UpdateIssue",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"issueID\":\"3\",\"title\":\"Bad smell from rubbish.\",\"category\":\"Rubbish\",\"description\":\"Rubbish in the road.\",\"address\":\"Liakonos 3\",\"media\":\"encodedAUDIOVISUAL\",\"status\":\"1\",\"submitDateAndTime\":\"3-6-2020\",\"votes\":\"8\",\"userID\":\"13\"}",
        "payloadType": "json",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "b361d974.531ac8"
            ]
        ]
    },
    {
        "id": "b361d974.531ac8",
        "type": "http request",
        "z": "29dea58a.ac6aaa",
        "name": "userUpdateIssueRequest",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:1880/user/mikalaki/issue/3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 630,
        "y": 480,
        "wires": [
            [
                "eb558cec.cc4c"
            ]
        ]
    },
    {
        "id": "eb558cec.cc4c",
        "type": "debug",
        "z": "29dea58a.ac6aaa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 890,
        "y": 480,
        "wires": []
    },
    {
        "id": "aa600792.cd8db8",
        "type": "comment",
        "z": "29dea58a.ac6aaa",
        "name": "Service:",
        "info": "",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "894c8407.bf4b28",
        "type": "comment",
        "z": "29dea58a.ac6aaa",
        "name": "Application:",
        "info": "",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "22c41ac9.0b8da6",
        "type": "comment",
        "z": "79afea60.4db264",
        "name": "User Deletes Issue",
        "info": "",
        "x": 290,
        "y": 140,
        "wires": []
    },
    {
        "id": "dd8d811e.496dc",
        "type": "comment",
        "z": "79afea60.4db264",
        "name": "Delete /user/:username/issue/:issueID",
        "info": "",
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "decad043.279d3",
        "type": "http in",
        "z": "79afea60.4db264",
        "name": "DELETE /user/:username/issue/:issueID",
        "url": "/user/:username/issue/:issueID",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 360,
        "y": 260,
        "wires": [
            [
                "9401b12e.f9c21",
                "5511a691.2965b8",
                "1b196ca4.8937a3"
            ]
        ]
    },
    {
        "id": "9401b12e.f9c21",
        "type": "debug",
        "z": "79afea60.4db264",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "1b196ca4.8937a3",
        "type": "change",
        "z": "79afea60.4db264",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-encoding",
                "pt": "msg",
                "to": "utf8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 260,
        "wires": [
            [
                "637ff13.589221"
            ]
        ]
    },
    {
        "id": "637ff13.589221",
        "type": "http response",
        "z": "79afea60.4db264",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 930,
        "y": 260,
        "wires": []
    },
    {
        "id": "5511a691.2965b8",
        "type": "mongodb out",
        "z": "79afea60.4db264",
        "mongodb": "",
        "name": "myDimosDB",
        "collection": "issues",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "delete",
        "x": 670,
        "y": 180,
        "wires": []
    },
    {
        "id": "e2c8db63.fa8de8",
        "type": "inject",
        "z": "79afea60.4db264",
        "name": "DeleteIssue",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"issueID\":\"3\",\"title\":\"Bad smell from rubbish.\",\"category\":\"Rubbish\",\"description\":\"Rubbish in the road.\",\"address\":\"Liakonos 3\",\"media\":\"encodedAUDIOVISUAL\",\"status\":\"1\",\"submitDateAndTime\":\"3-6-2020\",\"votes\":\"7\",\"userID\":\"13\"}",
        "payloadType": "json",
        "x": 450,
        "y": 500,
        "wires": [
            [
                "8a06647c.347e48"
            ]
        ]
    },
    {
        "id": "8a06647c.347e48",
        "type": "http request",
        "z": "79afea60.4db264",
        "name": "userDeleteIssueRequest",
        "method": "DELETE",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:1880/user/mikalaki/issue/3",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 690,
        "y": 500,
        "wires": [
            [
                "a884b980.ebe0f8"
            ]
        ]
    },
    {
        "id": "a884b980.ebe0f8",
        "type": "debug",
        "z": "79afea60.4db264",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 910,
        "y": 500,
        "wires": []
    },
    {
        "id": "34a90471.a8129c",
        "type": "comment",
        "z": "79afea60.4db264",
        "name": "Service:",
        "info": "",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "9c53d25.ed63b3",
        "type": "comment",
        "z": "79afea60.4db264",
        "name": "Application:",
        "info": "",
        "x": 630,
        "y": 440,
        "wires": []
    },
    {
        "id": "e26f60dd.d152d",
        "type": "comment",
        "z": "4d1d0100.524ca",
        "name": "Admin Updates Category",
        "info": "",
        "x": 170,
        "y": 120,
        "wires": []
    },
    {
        "id": "3a6e602.42f00a",
        "type": "comment",
        "z": "4d1d0100.524ca",
        "name": "Put /admin/:adminUsername/category/:categoryID",
        "info": "",
        "x": 240,
        "y": 180,
        "wires": []
    },
    {
        "id": "5e5c6be0.0350c4",
        "type": "http in",
        "z": "4d1d0100.524ca",
        "name": "PUT /admin/:adminUsername/category/:categoryID",
        "url": "/admin/:adminUsername/category/:categoryID",
        "method": "put",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "14adbe93.998d81",
                "606c23f1.3ebbec",
                "2463c0dd.fffe1"
            ]
        ]
    },
    {
        "id": "14adbe93.998d81",
        "type": "debug",
        "z": "4d1d0100.524ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 320,
        "wires": []
    },
    {
        "id": "2463c0dd.fffe1",
        "type": "change",
        "z": "4d1d0100.524ca",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.content-encoding",
                "pt": "msg",
                "to": "utf8",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 240,
        "wires": [
            [
                "bc403b19.607a38"
            ]
        ]
    },
    {
        "id": "bc403b19.607a38",
        "type": "http response",
        "z": "4d1d0100.524ca",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "606c23f1.3ebbec",
        "type": "mongodb out",
        "z": "4d1d0100.524ca",
        "mongodb": "",
        "name": "myDimosDB",
        "collection": "categories",
        "payonly": true,
        "upsert": false,
        "multi": true,
        "operation": "update",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "fde1c243.9d878",
        "type": "inject",
        "z": "4d1d0100.524ca",
        "name": "UpdateCategory",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{   \"categoryID\":\"2\",   \"CategoryÎame\":\"Rubbish\" }",
        "payloadType": "json",
        "x": 360,
        "y": 480,
        "wires": [
            [
                "1eb92507.4a5b6b"
            ]
        ]
    },
    {
        "id": "1eb92507.4a5b6b",
        "type": "http request",
        "z": "4d1d0100.524ca",
        "name": "adminUpdateCategoryRequest",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:1880/admin/:adminUsername/category/:categoryID",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 610,
        "y": 480,
        "wires": [
            [
                "72a0f724.7e2298"
            ]
        ]
    },
    {
        "id": "72a0f724.7e2298",
        "type": "debug",
        "z": "4d1d0100.524ca",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 830,
        "y": 520,
        "wires": []
    },
    {
        "id": "fdc92376.edd0e",
        "type": "comment",
        "z": "4d1d0100.524ca",
        "name": "Service:",
        "info": "",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "7937420.33d59c",
        "type": "comment",
        "z": "4d1d0100.524ca",
        "name": "Application:",
        "info": "",
        "x": 590,
        "y": 420,
        "wires": []
    },
    {
        "id": "12a90658.be8cd2",
        "type": "http in",
        "z": "fd0f986b.1c9ad8",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "2ad1692b.c16bc6"
            ]
        ]
    },
    {
        "id": "2ad1692b.c16bc6",
        "type": "template",
        "z": "fd0f986b.1c9ad8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>",
        "x": 630,
        "y": 280,
        "wires": [
            [
                "c4d399ee.79b52"
            ]
        ]
    },
    {
        "id": "c4d399ee.79b52",
        "type": "http response",
        "z": "fd0f986b.1c9ad8",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "c70b9bb8.32a5d8",
        "type": "comment",
        "z": "fd0f986b.1c9ad8",
        "name": "http://milarakis.ee.auth.gr:2880/hello",
        "info": "",
        "x": 580,
        "y": 200,
        "wires": []
    },
    {
        "id": "df0732dc.667ce8",
        "type": "template",
        "z": "7abefd83.704014",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.query.name}}!</h1>\n    </body>\n</html>",
        "x": 610,
        "y": 240,
        "wires": [
            [
                "5425f847.960a"
            ]
        ]
    },
    {
        "id": "dec142cc.796bf",
        "type": "http in",
        "z": "7abefd83.704014",
        "name": "",
        "url": "/hello-query",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 240,
        "wires": [
            [
                "df0732dc.667ce8"
            ]
        ]
    },
    {
        "id": "5425f847.960a",
        "type": "http response",
        "z": "7abefd83.704014",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "a4ad8475.9409e8",
        "type": "comment",
        "z": "7abefd83.704014",
        "name": "http://milarakis.ee.auth.gr:2880/hello-query?name=klpanagi",
        "info": "",
        "x": 570,
        "y": 180,
        "wires": []
    },
    {
        "id": "54d9d503.55cfac",
        "type": "http response",
        "z": "b01be559.76e07",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 240,
        "wires": []
    },
    {
        "id": "5b19427.8fa0a3c",
        "type": "template",
        "z": "b01be559.76e07",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n    </body>\n</html>",
        "x": 690,
        "y": 240,
        "wires": [
            [
                "54d9d503.55cfac"
            ]
        ]
    },
    {
        "id": "32df3642.1e3c2a",
        "type": "http in",
        "z": "b01be559.76e07",
        "name": "",
        "url": "/hello-param/:name/",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 410,
        "y": 240,
        "wires": [
            [
                "5b19427.8fa0a3c"
            ]
        ]
    },
    {
        "id": "fb2c79a7.71b2e",
        "type": "comment",
        "z": "b01be559.76e07",
        "name": "http://milarakis.ee.auth.gr:2880/hello-param/klpanagi",
        "info": "",
        "x": 490,
        "y": 180,
        "wires": []
    },
    {
        "id": "085cb1fd2e6cfa63",
        "type": "http response",
        "z": "b01be559.76e07",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 860,
        "y": 400,
        "wires": []
    },
    {
        "id": "56ac89f73397e9de",
        "type": "template",
        "z": "b01be559.76e07",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n    <head></head>\n    <body>\n        <h1>Hello {{req.params.name}}!</h1>\n        <h1>Book ID {{req.params.book_id}}!</h1>\n    </body>\n</html>",
        "x": 690,
        "y": 400,
        "wires": [
            [
                "085cb1fd2e6cfa63"
            ]
        ]
    },
    {
        "id": "03e989043d66cce7",
        "type": "http in",
        "z": "b01be559.76e07",
        "name": "",
        "url": "/hello-param/:name/book/:book_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "56ac89f73397e9de"
            ]
        ]
    },
    {
        "id": "f421529106886dc9",
        "type": "comment",
        "z": "b01be559.76e07",
        "name": "http://milarakis.ee.auth.gr:2880/hello-param/klpanagi/book/1948",
        "info": "",
        "x": 530,
        "y": 340,
        "wires": []
    },
    {
        "id": "825c40e2.f09fe8",
        "type": "http in",
        "z": "f23ec8d3.c89a3",
        "name": "",
        "url": "/json-response",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "36d1781f.cd8a88"
            ]
        ]
    },
    {
        "id": "36d1781f.cd8a88",
        "type": "template",
        "z": "f23ec8d3.c89a3",
        "name": "create-response",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"a\": 1,\n    \"b\": \"test\",\n    \"c\": [1, 2, 3],\n    \"d\": {\n        \"d_1\": 0\n    }\n}",
        "x": 728,
        "y": 300,
        "wires": [
            [
                "1d5cc6a4.b33b21"
            ]
        ]
    },
    {
        "id": "1d5cc6a4.b33b21",
        "type": "http response",
        "z": "f23ec8d3.c89a3",
        "name": "response",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 920,
        "y": 300,
        "wires": []
    },
    {
        "id": "312428a.3ae5858",
        "type": "comment",
        "z": "f23ec8d3.c89a3",
        "name": "http://milarakis.ee.auth.gr:2880/json-response",
        "info": "",
        "x": 630,
        "y": 220,
        "wires": []
    },
    {
        "id": "998e67c5.bd95a8",
        "type": "inject",
        "z": "f23ec8d3.c89a3",
        "name": "Call HTTP Endpoint",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "3",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 490,
        "y": 400,
        "wires": [
            [
                "9e96a120.8433d8"
            ]
        ]
    },
    {
        "id": "5e6c90da.bf4fd",
        "type": "debug",
        "z": "f23ec8d3.c89a3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 950,
        "y": 400,
        "wires": []
    },
    {
        "id": "9e96a120.8433d8",
        "type": "http request",
        "z": "f23ec8d3.c89a3",
        "name": "[GET] /json-response",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://milarakis.ee.auth.gr:2880/json-response",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 740,
        "y": 400,
        "wires": [
            [
                "5e6c90da.bf4fd"
            ]
        ]
    },
    {
        "id": "69585bdc.4d1b14",
        "type": "http in",
        "z": "4d1359bb.bef6a8",
        "name": "",
        "url": "/json-response",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 422,
        "y": 260,
        "wires": [
            [
                "dcc0ed8.f620c1"
            ]
        ]
    },
    {
        "id": "dcc0ed8.f620c1",
        "type": "template",
        "z": "4d1359bb.bef6a8",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"a\": 1,\n    \"b\": \"test\",\n    \"c\": [1, 2, 3],\n    \"d\": {\n        \"d_1\": 0\n    }\n}",
        "x": 610,
        "y": 260,
        "wires": [
            [
                "b67a27cf.ccf77"
            ]
        ]
    },
    {
        "id": "b67a27cf.ccf77",
        "type": "change",
        "z": "4d1359bb.bef6a8",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 260,
        "wires": [
            [
                "66c8494a.bf4758"
            ]
        ]
    },
    {
        "id": "66c8494a.bf4758",
        "type": "http response",
        "z": "4d1359bb.bef6a8",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "1aef5ab3.4c05d5",
        "type": "comment",
        "z": "4d1359bb.bef6a8",
        "name": "https://r4a-platform.ddns.net:8443/nodered/json-response",
        "info": "",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "34b9e96.e7dfa16",
        "type": "inject",
        "z": "4d1359bb.bef6a8",
        "name": "Call HTTP Endpoint",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "7010f616.37e598"
            ]
        ]
    },
    {
        "id": "4d053d27.97013c",
        "type": "debug",
        "z": "4d1359bb.bef6a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 910,
        "y": 440,
        "wires": []
    },
    {
        "id": "7010f616.37e598",
        "type": "http request",
        "z": "4d1359bb.bef6a8",
        "name": "[GET] /json-response",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://r4a-platform.ddns.net:8443/nodered/json-response",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 700,
        "y": 440,
        "wires": [
            [
                "4d053d27.97013c"
            ]
        ]
    },
    {
        "id": "3c39a530.07616a",
        "type": "http request",
        "z": "a712887f.cb747",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://milarakis.ee.auth.gr:2880/user/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 220,
        "wires": [
            [
                "d86d6c8d.0e4ef8"
            ]
        ]
    },
    {
        "id": "a1795717.d9584",
        "type": "inject",
        "z": "a712887f.cb747",
        "name": "GetUsers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 420,
        "y": 220,
        "wires": [
            [
                "3c39a530.07616a"
            ]
        ]
    },
    {
        "id": "d86d6c8d.0e4ef8",
        "type": "debug",
        "z": "a712887f.cb747",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 860,
        "y": 220,
        "wires": []
    },
    {
        "id": "44b760c5.425738",
        "type": "inject",
        "z": "182335e2.99f052",
        "name": "Get Users",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 440,
        "y": 520,
        "wires": [
            [
                "31b3677b.1bd298"
            ]
        ]
    },
    {
        "id": "54bc4ed4.74989",
        "type": "debug",
        "z": "182335e2.99f052",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1030,
        "y": 520,
        "wires": []
    },
    {
        "id": "a74548db.609f08",
        "type": "inject",
        "z": "182335e2.99f052",
        "name": "Add New User",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"name\":\"Maria\",\"email\":\"maria@test.gr\"}",
        "payloadType": "json",
        "x": 450,
        "y": 400,
        "wires": [
            [
                "76cf13ba.9ea70c"
            ]
        ]
    },
    {
        "id": "c7755525.5cf9d8",
        "type": "comment",
        "z": "182335e2.99f052",
        "name": "Create User Account",
        "info": "",
        "x": 450,
        "y": 340,
        "wires": []
    },
    {
        "id": "20dcefae.d28538",
        "type": "comment",
        "z": "182335e2.99f052",
        "name": "{\"name\":\"Maria\",\"email\":\"maria@test.gr\"}",
        "info": "",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "76cf13ba.9ea70c",
        "type": "mongodb out",
        "z": "182335e2.99f052",
        "mongodb": "",
        "name": "",
        "collection": "user",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "31b3677b.1bd298",
        "type": "mongodb in",
        "z": "182335e2.99f052",
        "mongodb": "",
        "name": "",
        "collection": "user",
        "operation": "find",
        "x": 750,
        "y": 520,
        "wires": [
            [
                "54bc4ed4.74989"
            ]
        ]
    },
    {
        "id": "58f70756.962f68",
        "type": "http in",
        "z": "3473d672.55b542",
        "name": "Get User",
        "url": "/user/:name",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "ceaf957.83f35e8"
            ]
        ]
    },
    {
        "id": "5c0747b8.861fa8",
        "type": "http response",
        "z": "3473d672.55b542",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "a05f4f0c.92dbd8",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "URL Parameter Example",
        "info": "",
        "x": 270,
        "y": 300,
        "wires": []
    },
    {
        "id": "aac36804.9a4a68",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ResponseHeaders",
        "func": "msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 420,
        "wires": [
            [
                "5c0747b8.861fa8",
                "857a4652.c36f"
            ]
        ]
    },
    {
        "id": "857a4652.c36f",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "ServiceResponse",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 520,
        "wires": []
    },
    {
        "id": "ceaf957.83f35e8",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ExtractURLParams",
        "func": "msg.payload = msg.req.params;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 420,
        "wires": [
            [
                "ffcd9ed6.e38de8",
                "36c84f81.7e3fc"
            ]
        ]
    },
    {
        "id": "36c84f81.7e3fc",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 520,
        "wires": []
    },
    {
        "id": "ffcd9ed6.e38de8",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ServiceLogic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 420,
        "wires": [
            [
                "aac36804.9a4a68"
            ]
        ]
    },
    {
        "id": "dff99975.04bb2",
        "type": "http in",
        "z": "3473d672.55b542",
        "name": "Get Users",
        "url": "/user",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 140,
        "wires": [
            [
                "1b06885a.3b3838"
            ]
        ]
    },
    {
        "id": "534707e1.64d798",
        "type": "http response",
        "z": "3473d672.55b542",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 140,
        "wires": []
    },
    {
        "id": "89cc27b8.8fefc",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 760,
        "y": 240,
        "wires": []
    },
    {
        "id": "de1bd6e9.3874c",
        "type": "http in",
        "z": "3473d672.55b542",
        "name": "Get Book",
        "url": "/book",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 740,
        "wires": [
            [
                "f4792e86.f66fd"
            ]
        ]
    },
    {
        "id": "334fa18a.5467ae",
        "type": "http response",
        "z": "3473d672.55b542",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1075,
        "y": 740,
        "wires": []
    },
    {
        "id": "c00a2ca9.e4828",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "ServiceCall",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 670,
        "y": 840,
        "wires": []
    },
    {
        "id": "496dd2c6.f72294",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "Query Parameter Example",
        "info": "",
        "x": 270,
        "y": 620,
        "wires": []
    },
    {
        "id": "dd377a02.de5eb",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ResponseHeaders",
        "func": "msg.headers = {\n};\nmsg.statusCode = 200;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 875,
        "y": 740,
        "wires": [
            [
                "334fa18a.5467ae",
                "edd9ffce.90849"
            ]
        ]
    },
    {
        "id": "edd9ffce.90849",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "ServiceResponse",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1115,
        "y": 840,
        "wires": []
    },
    {
        "id": "f4792e86.f66fd",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ExtractQueryParams",
        "func": "msg.payload = msg.req.query;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 740,
        "wires": [
            [
                "ceac61b6.99aa4",
                "c00a2ca9.e4828"
            ]
        ]
    },
    {
        "id": "ceac61b6.99aa4",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "ServiceLogic",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 740,
        "wires": [
            [
                "dd377a02.de5eb"
            ]
        ]
    },
    {
        "id": "11f5b75d.4ab621",
        "type": "function",
        "z": "3473d672.55b542",
        "name": "CreateResponsePayload",
        "func": "response = {\n    users: msg.payload\n}\n\nmsg.payload = response;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 2,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 140,
        "wires": [
            [
                "534707e1.64d798"
            ]
        ]
    },
    {
        "id": "b8054826.889c5",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "/user/:name",
        "info": "",
        "x": 230,
        "y": 360,
        "wires": []
    },
    {
        "id": "e426e3e4.d63648",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "/book",
        "info": "",
        "x": 210,
        "y": 680,
        "wires": []
    },
    {
        "id": "91bda822.ff4f68",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "/user",
        "info": "",
        "x": 210,
        "y": 80,
        "wires": []
    },
    {
        "id": "19498089.61dfb7",
        "type": "http request",
        "z": "3473d672.55b542",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://r4a-platform.ddns.net:8443/nodered/user/",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 1040,
        "wires": [
            [
                "24cb87a8.1841a"
            ]
        ]
    },
    {
        "id": "24cb87a8.1841a",
        "type": "debug",
        "z": "3473d672.55b542",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 860,
        "y": 1040,
        "wires": []
    },
    {
        "id": "53f896a7.aa9f8",
        "type": "comment",
        "z": "3473d672.55b542",
        "name": "Get all Users Client Example",
        "info": "",
        "x": 640,
        "y": 980,
        "wires": []
    },
    {
        "id": "6a30974a.fbbb7",
        "type": "inject",
        "z": "3473d672.55b542",
        "name": "GetUsers",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 420,
        "y": 1040,
        "wires": [
            [
                "19498089.61dfb7"
            ]
        ]
    },
    {
        "id": "1b06885a.3b3838",
        "type": "mongodb in",
        "z": "3473d672.55b542",
        "mongodb": "",
        "name": "",
        "collection": "user",
        "operation": "find",
        "x": 470,
        "y": 140,
        "wires": [
            [
                "89cc27b8.8fefc",
                "11f5b75d.4ab621"
            ]
        ]
    }
]